.title{
  //styleName: Typo/Subtitle 1/Regular;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  margin-bottom: 3rem;
  color: #423F3A;
}
.subTitle{
  //styleName: Typo/Body 1/Regular;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: left;
  color: #423F3A;
}