/* primary */
$primary: #70bbc8;

/* primary */

/* gray */
$grayBase: #aeb8c7;

$grayBaseLight1: #f9fafb;
$grayBaseLight2: #f3f5f9;
$grayBaseLight3: #d5dceb;

$grayBaseDark1: #7d8596;
$grayBaseDark2: #444c53;
/* gray */

/* blue */
$blueBase: #70bbc8;

$blueBaseLight1: #d5eafe;
$blueBaseLight2: #aad4fc;
$blueBaseLight3: #80bffb;
$blueBaseLight4: #55a9f9;

$blueBaseDark1: #2785df;
$blueBaseDark2: #1e68ae;
/* blue */

/* orange */
$orageBase: #fdeed5;

$orangeBaseLight1: #fcddac;
$orangeBaseLight2: #facd82;
$orangeBaseLight3: #f9bc59;
$orangeBaseLight4: #f7ab2f;

$orangeBaseDark1: #c88c29;
$orangeBaseDark2: #9a6d23;
/* orage */

/* purple */
$purpleBase: #70bbc8;

$purpleBaseLight1: #e0defd;
$purpleBaseLight2: #c2bcfa;
$purpleBaseLight3: #a39bf8;
$purpleBaseLight4: #8579f5;

$purpleBaseDark1: #554ac6;
$purpleBaseDark2: #433b99;
/* purple */

/* yellow */
$yellowBase: #facf57;

$yellowBaseLight1: #fef5dd;
$yellowBaseLight2: #fdecbc;
$yellowBaseLight3: #fce29a;
$yellowBaseLight4: #fbd979;

$yellowBaseDark1: #cba949;
$yellowBaseDark2: #9c833b;
/* yellow */

/* red */
$redBase: #f84948;

$redBaseLight1: #fedbda;
$redBaseLight2: #fcb6b6;
$redBaseLight3: #fb9291;
$redBaseLight4: #f96e6d;

$redBaseDark1: #c93e3d;
$redBaseDark2: #9a3233;
/* red */

/* dark */
$darkBase: #0f1012;
/* dark */
