


.title{
  font-family: Roboto serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.68px;
  letter-spacing: -0.012em;
  text-align: left;
  color:#614417 
}
.subtitle{
  //styleName: body/16-reg;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.32px;
  text-align: left;

  color: #272B2F;
  border-radius: 8px;
}

.form_heading{
font-size: 36px;
font-weight: 700;
line-height: 43.92px;
letter-spacing: -0.016em;
text-align: center;
color: #322F2A;
}

.section{
  position: relative;
}

.BgContact{
  background-image: none;
}
 

@media (min-width: 1024px) {
  .form_content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120rem;
    position: absolute;      
  }
  .title{
    font-size: 6rem;
    line-height:100% ;
  }
}

@media (max-width: 1024px){
  .BgContact{
    background-image: url("../../../public//assets//images//body//bg-contact-mb.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
