* {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * * * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * * * * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
* * * * * * * * {
  outline: 1px solid blue;
  &:hover {
    outline: 1px solid red;
  }
}
